<header class="std page">
    <div class="container">
        <nav>
    <div class="nav-wrapper">
        <a ui-sref="home" class="brand-logo"><strong>EASY</strong> TRADIES</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a ui-sref="findStaff">FIND STAFF</a></li>
            <li><a ui-sref="seekJobs">SEEK JOBS</a></li>
            <li data-ng-show="isAuthenticated"><a ui-sref="myProfile">My Profile</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a ui-sref="signIn">Sign-in</a></li>
            <li><a ui-sref="signUp">Sign-up</a></li>
            <li data-ng-show="isAuthenticated">
                <a ui-sref="home" data-ng-click="Main.signOut()">
                    <i class="fa fa-power-off" aria-hidden="true"></i> Sign Out
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a ui-sref="findStaff">FIND STAFF</a></li>
            <li><a ui-sref="seekJobs">SEEK JOBS</a></li>
            <li><a ui-sref="signIn">Sign-in</a></li>
            <li><a ui-sref="signUp">Sign-up</a></li>
        </ul>
    </div>
</nav>
        <div class="slider-form">
            <h2>Post a job</h2>
        </div>
    </div>
    <div class="header-bottom-pattern">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         preserveAspectRatio="xMidYMid" viewBox="0 0 1870 104.656">
        <path d="M0.018,33.143 C0.018,33.143 0.126,33.124 0.180,33.115 C93.363,16.751 231.338,-0.679 393.913,0.013 C697.872,1.305 705.871,49.136 1081.820,81.455 C1457.769,113.773 1749.729,31.038 1849.715,38.794 C1870.722,40.424 1886.873,44.222 1899.283,49.205 C1899.546,49.310 1900.067,49.523 1900.067,49.523 L1900.000,103.456 C1900.000,103.456 392.728,104.404 0.125,104.651 C0.073,104.651 -0.031,104.651 -0.031,104.651 L0.018,33.143 Z"
              class="layer-1"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         preserveAspectRatio="xMidYMid" viewBox="0 0 1870 110.156">
        <path d="M1900.000,45.156 C1900.000,45.156 1719.733,-2.485 1539.758,0.100 C1359.782,2.686 1231.799,46.638 1009.830,81.543 C787.860,116.446 571.169,85.740 421.910,51.809 C283.631,20.375 119.949,10.588 1.058,16.208 C0.923,16.214 0.741,16.223 0.562,16.232 C0.391,16.240 0.221,16.248 0.094,16.254 C-0.035,16.260 -0.120,16.264 -0.120,16.264 L-0.000,110.156 L1900.000,110.156 L1900.000,45.156 Z"
              class="layer-2"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         preserveAspectRatio="xMidYMid" viewBox="0 0 1870 142">
        <path d="M0.069,23.725 C0.069,23.725 0.654,23.641 0.947,23.600 C100.728,9.420 231.714,-4.219 340.921,1.212 C548.892,11.553 783.300,89.546 1031.827,98.167 C1292.791,107.218 1417.774,99.459 1601.749,45.164 C1723.257,9.305 1819.469,3.050 1899.025,8.151 C1899.351,8.171 1900.003,8.214 1900.003,8.214 L1899.000,142.000 L-0.000,142.000 L0.069,23.725 Z"
              class="layer-2"/>
    </svg>
</div>
</header>

<div class="row">
    <div class="container">
        <div class="gap x"></div>
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose a profession</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="input-field textarea-block extended col s12">
                <textarea id="desc_of_work" class="materialize-textarea"></textarea>
                <label for="desc_of_work">Description of work and what employee need to bring / Dress code / osh requirements</label>
            </div>
            <div class="input-field col s12">
                <input id="job_name" type="text" class="validate">
                <label for="job_name">Job Name</label>
            </div>
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Location</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="input-field col s6">
                <i class="ico ico-calendar prefix"></i>
                <input id="start_date" type="text" class="validate">
                <label for="start_date">Start Date</label>
            </div>
            <div class="input-field col s6">
                <i class="ico ico-calendar prefix"></i>
                <input id="end_date" type="text" class="validate">
                <label for="end_date">End Date</label>
            </div>
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Number of positions</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="input-field col s12">
                <input id="report_to" type="text" class="validate">
                <label for="report_to">Report to(Name)</label>
            </div>
            <div class="input-field col s12">
                <input class="with-gap" id="hire_manually" name="hire" type="radio" checked />
                <label for="hire_manually">I want to view and hire applicants manually</label>
            </div>
            <div class="input-field col s12">
                <input class="with-gap" id="hire_auto" name="hire" type="radio" checked />
                <label for="hire_auto">Automatically hire the best applicants</label>
            </div>
            <div class="clearfix"></div>
            <div class="gap x"></div>
            <div class="btn-block">
                <input type="submit"
                       class="btn btn-rounded btn-default btn-dark"
                       value="Post a Job"
                data-ng-click="">
            </div>

        <div class="gap x"></div>
    </div>
</div>
